.standardimage
{
    height: 200px;
    margin-right:3%;
    width: 400px;

}
.imgsize {
    height: 220px!important;
    width: 250px!important;
    display: block!important;
    margin-left: auto!important;
    margin-right: auto!important;
    border:5px solid #800000!important;

}
.navbar-inverse{
    font-family: cursive;
    background-color: sienna;
    font-style: italic;
}
.imgflag{
    width:75px;
    height: 75px;
}
.imggulab{
    height:400px;
    width:500px;
    position:center;
}
.imgindian{
    width: 75px;
    height: 75px;
}
.caption {
    font-size: 20px;
    color: white;
    text-align: center;


    background-color: #e2ead0;
    width: 250px!important;
}
.thumbnail
{
    height:250px!important;
    width:250px!important;
    position: relative;
}


.bclass{
    background-color: darkgrey;
}

.shrikhand
{
    font-family: 'pacifico',cursive!important;
}
.navbar-brand{
    font-family: 'pacifico', cursive;
    color:white;
}
.h1{

    margin-right: 33%;
    align-content: center;
}

.h2{
    font-family: 'pacifico',cursive;
    margin-left: 33%;

    align-content: center;
}
.h3{
    font-size: small;
   color: inherit;
}
.ulListIndia{

    margin-left:15%;
    list-style-type: circle;
    font-size: 12px;
    background-color: darkgrey;

}

.ulList{
    height: 200px;
    margin-left:15%;
    font-size: 18px;
}
.font1 {
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
    font-style: italic;
    target: "_blank";


}

.body1{
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 200%);

}
.body2{
    background-image: linear-gradient(120deg, #F0FFF0 0%, #8fd3f4 200%);
}
.body3{
    background-color: darkkhaki;
}

.navbar-inverse
{
    border-radius: 0px;
    width:100%;
}
